.AboutCompany__wrapper {
    display: flex; 
    width: 100%;
    white-space: normal;
    background: #D8D8D8;
    > div {
        font-size: 25px;
        > button {
            margin: 0 10px;
        }
    }
}