.AboutCompany {
    display: flex; 
    width: 100%;
    white-space: normal;
    flex-wrap: wrap;
    padding: 10px 0;
    .AboutCompany__wrapper {
        font-size: 25px;
        display: flex;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        >a {
            text-decoration: none;
        }
        .AboutCompany__wrapper-content {
            padding: 50px;
            border: 20px solid white;
            background: rgb(49, 58, 97);
            color: white;
            &:hover {
                background: rgb(59, 68, 112);
            }
        }
    }
}