.AboutCompany__wrapper {
    display: flex; 
    width: 100%;
    white-space: normal;
    background: #ffaeae;
    flex-wrap: wrap;
    > div {
        font-size: 25px;
        padding: 10px;
        display: flex;
        flex: 1;
        flex-direction: column;
        border: white solid 10px;
        > button {
            width: min-content;
            margin-left: auto;
        }
    }
}