.Contact__wrapper {
    display: flex;
    flex-direction: column;
    background: rgb(236, 236, 236);
    padding: 80px 50px;
    min-height: 50vh;
    justify-content: center;
    color: black;
    &:hover {
        background: rgb(230, 230, 230);
    }
    > button {
        width: max-content;
        border: 4px solid black;
        border-radius: 5%;
        height: 30px;
        padding: 28px 35px;
        display: flex;
        align-items: center;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: 0.8s;
        &:hover {
            transition: 0.8s;
            color: white;
            background: black;
        }
    }
    > span {
        font-weight: 300;
        font-size: 22px;
        opacity: 0.5;
    }
    > p {
        font-weight: 400;
        font-size: 35px;
        line-height: 1.5;
        margin-top: 20px;
    }
    > a {
        border: 3px solid black;
        width: max-content;
        padding: 12px 35px;
        text-transform: uppercase;
        transition: .4s;
        color: black;
        font-weight: 600;
        &:hover {
            transition: .4s;
            border: 3px solid black;
            background-color: black;
            color: white;
        }
    }
}