.Contact__wrapper {
    display: flex;
    flex-direction: column;
    background: #eeeeee;
    padding: 80px 50px;
    height: 30vh;
    justify-content: center;
    border: 3px solid white;
    > button {
        width: max-content;
        border: 4px solid black;
        border-radius: 5%;
        height: 30px;
        padding: 28px 35px;
        display: flex;
        align-items: center;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: 0.8s;
        &:hover {
            transition: 0.8s;
            color: white;
            background: black;
        }
    }
    > span {
        font-weight: 300;
        font-size: 22px;
        opacity: 0.5;
    }
    > p {
        font-weight: 400;
        font-size: 35px;
        line-height: 1.5;
        margin-top: 20px;
    }
}