

.Header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: transparent;
  opacity: 0.7;
  color: black;
  padding: 50px 0;
  margin-top: auto;
  position: absolute;
  z-index: 1001;
  width: 99.1vw;
  color: white;
  font-weight: 600;
  font-size: 16px;
  .Header__block > a {
    > span {
      padding: 0 5px;
      color: #1890ff;
    }
    > img {
        width: 30px;
    }
  }
  .Header__links > a {
    margin: 0 20px;
    padding: 0 10px;
    padding-bottom: 5px;
    &:hover, &:focus {
        border-bottom: 2px solid white;
    }
  }
  .Header__search > a {
    padding: 0 10px;
    padding-bottom: 5px;
    &:hover, &:focus {
        border-bottom: 2px solid white;
    }
  }
}
