.Footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgb(236, 236, 236);
    color: black;
    .Footer__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        > :first-child {
            text-transform: uppercase;
        }
        >span {
            padding: 5px;
            font-size: 15px;
            font-weight: 600;
            > a {
                color: green;
                transition: 0.8s;
                &:hover {
                    color: black;
                    box-shadow: 0 0 5px gray;
                    font-size: 20px;
                    transition: 0.8s;
                }
            }
        }
    }
}