.Footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(236, 236, 236);
    color: black;
    padding: 50px 0;
    &:hover {
        background: rgb(230, 230, 230);
    }
    .Footer__block {
        display: flex;
        flex-direction: column;
        > :first-child {
            text-transform: uppercase;
        }
        >span {
            padding: 5px;
            font-size: 15px;
            font-weight: 600;
            > a {
                color: green;
                transition: 0.8s;
                &:hover {
                    color: rgb(165, 47, 47);
                    transition: 0.4s;
                }
            }
        }
    }
}